id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
access_{{ name|snake }}_{{ name|snake }}_user,{{ name|snake }}.{{ name|snake }} user access,model_{{ name|snake }}_{{ name|snake }},base.group_user,1,0,0,0
access_{{ name|snake }}_{{ name|snake }}_manager,{{ name|snake }}.{{ name|snake }} manager access,model_{{ name|snake }}_{{ name|snake }},base.group_system,1,1,1,1